<div class="magicwall">
    <ul class="magicwall-grid">
        <li data-thumb=<%= image_path("seal_and_penguin.jpg")%>></li>
        <li data-thumb=<%= image_path("cat_and_squirrel.jpg")%>></li>
        <li data-thumb=<%= image_path("seaotters.jpeg")%>></li>
        <li data-thumb=<%= image_path("dogs1.jpeg")%>></li>
        <li data-thumb=<%= image_path("dogs2.jpeg")%>></li>
        <li data-thumb=<%= image_path("dogs3.jpeg")%>></li>
        <li data-thumb=<%= image_path("dogs4.jpeg")%>></li>
        <li data-thumb=<%= image_path("dogs5.jpeg")%>></li>
        <li data-thumb=<%= image_path("dogs6.jpeg")%>></li>
        <li data-thumb=<%= image_path("dogs7.jpeg")%>></li>
        <li data-thumb=<%= image_path("dogs8.jpeg")%>></li>
        <li data-thumb=<%= image_path("dogs9.jpeg")%>></li>
        <li data-thumb=<%= image_path("dogs10.jpeg")%>></li>
        <li data-thumb=<%= image_path("dogs11.jpeg")%>></li>
        <li data-thumb=<%= image_path("dogs12.jpeg")%>></li>
        <li data-thumb=<%= image_path("dogs13.jpeg")%>></li>
        <li data-thumb=<%= image_path("dogs14.jpeg")%>></li>
        <li data-thumb=<%= image_path("dogs15.jpeg")%>></li>
        <li data-thumb=<%= image_path("dogs16.jpeg")%>></li>
        <li data-thumb=<%= image_path("dogs17.jpeg")%>></li>
        <li data-thumb=<%= image_path("dogs18.jpeg")%>></li>
        <li data-thumb=<%= image_path("dogs19.jpeg")%>></li>
        <li data-thumb=<%= image_path("dogs20.jpeg")%>></li>
        <li data-thumb=<%= image_path("dogs21.jpeg")%>></li>
        <li data-thumb=<%= image_path("dogs22.jpeg")%>></li>
        <li data-thumb=<%= image_path("dogs23.jpeg")%>></li>
        <li data-thumb=<%= image_path("dogs24.jpeg")%>></li>
        <li data-thumb=<%= image_path("dogs25.jpeg")%>></li>
        <li data-thumb=<%= image_path("dogs26.jpeg")%>></li>
        <li data-thumb=<%= image_path("dogs27.jpeg")%>></li>
        <li data-thumb=<%= image_path("dogs28.png")%>></li>
        <li data-thumb=<%= image_path("dogs29.jpeg")%>></li>
        <li data-thumb=<%= image_path("dogs30.jpeg")%>></li>
        <li data-thumb=<%= image_path("dogs31.jpeg")%>></li>
        <li data-thumb=<%= image_path("dogs32.jpeg")%>></li>
        <li data-thumb=<%= image_path("dogs33.jpeg")%>></li>
        <li data-thumb=<%= image_path("dogs34.jpeg")%>></li>
        <li data-thumb=<%= image_path("dogs35.jpeg")%>></li>
    </ul><!-- .magicwall-grid -->
</div><!-- .magicwall -->
