<div class="magicwall">
    <ul class="magicwall-grid">
        <li data-thumb=<%= image_path("cat.jpeg")%>></li>
        <li data-thumb=<%= image_path("cat2.jpeg")%>></li>
        <li data-thumb=<%= image_path("cat3.jpeg")%>></li>
        <li data-thumb=<%= image_path("cat4.jpeg")%>></li>
        <li data-thumb=<%= image_path("cat5.jpeg")%>></li>
        <li data-thumb=<%= image_path("cat6.jpeg")%>></li>
        <li data-thumb=<%= image_path("cat7.jpeg")%>></li>
        <li data-thumb=<%= image_path("cat8.jpeg")%>></li>
        <li data-thumb=<%= image_path("cat9.jpeg")%>></li>
        <li data-thumb=<%= image_path("cat10.jpeg")%>></li>
        <li data-thumb=<%= image_path("cat11.jpeg")%>></li>
        <li data-thumb=<%= image_path("cat12.jpeg")%>></li>
        <li data-thumb=<%= image_path("cat13.jpeg")%>></li>
        <li data-thumb=<%= image_path("cat14.jpeg")%>></li>
        <li data-thumb=<%= image_path("cat15.jpeg")%>></li>
        <li data-thumb=<%= image_path("cat16.jpeg")%>></li>
        <li data-thumb=<%= image_path("cat17.jpeg")%>></li>
        <li data-thumb=<%= image_path("cat18.jpeg")%>></li>
        <li data-thumb=<%= image_path("cat19.jpeg")%>></li>
        <li data-thumb=<%= image_path("cat20.jpeg")%>></li>
        <li data-thumb=<%= image_path("cat21.jpeg")%>></li>
        <li data-thumb=<%= image_path("cat22.jpeg")%>></li>
        <li data-thumb=<%= image_path("cat23.jpeg")%>></li>
        <li data-thumb=<%= image_path("cat24.jpeg")%>></li>
        <li data-thumb=<%= image_path("cat25.jpeg")%>></li>
        <li data-thumb=<%= image_path("cat26.jpeg")%>></li>
        <li data-thumb=<%= image_path("cat27.jpeg")%>></li>
        <li data-thumb=<%= image_path("cat28.jpeg")%>></li>
        <li data-thumb=<%= image_path("cat29.jpeg")%>></li>

    </ul><!-- .magicwall-grid -->
</div><!-- .magicwall -->
